body {
    margin: 0;
}
/* <--------------- PARALLAX ------------------> */
.parallax {
    /*padding-top: 50px;*/
    width: 100%;
    background-image: url('../../assets/img/inthefield/background.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}


.caption span.border {
    opacity: 0.65;
    background-color: #071013;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}



/* <--------------- SQUARE GRID ------------------> */
.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    border-radius: 2%;

}

.img_1-1{
    background-image:url('../../assets/img/inthefield/wellsfargo.jpg');
    margin-left: 2.75%;
}
.img_1-2{
    background-image:url('../../assets/img/inthefield/localwise.jpg');
}
.img_1-3{
    background-image:url('../../assets/img/inthefield/hr.jpg');
}

.img_2-1{
    background-image:url('../../assets/img/inthefield/stc.jpg');
    margin-left: 2.75%;

}
.img_2-2{
    background-image:url('../../assets/img/inthefield/rescomp.jpg');
}
.img_2-3{
    background-image:url('../../assets/img/inthefield/dailycal.jpg');
}

.img_3-1{
    background-image:url('../../assets/img/inthefield/asuc.jpg');
    margin-left: 2.75%;

}
.img_3-2{
    background-image:url('../../assets/img/inthefield/kaiser.jpg');
}
.img_3-3{
    background-image:url('../../assets/img/inthefield/mvz.jpg');
}



.bannertext {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    position: absolute;
    color: white;
    background-color: #071013;
    opacity: 0.65;
    border-style: solid;
    padding: 10px;
    border-width: 2px;
    border-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    top: 35%;
    width: 50%;
    text-align: center;
    margin-left: 21%;

}

.descriptiontext {
    margin-top: 5px;
    font-size: 20px;
}

.bannertext:hover {
    opacity: 1.5;
}


.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.1);
}


.img_1-1:hover {
    opacity: 0.7;
    cursor: pointer;
}

.img_1-2:hover {
    opacity: 0.7;
    cursor: pointer;
}

.img_1-3:hover {
    opacity: 0.7;
    cursor: pointer;
}

.img_2-1:hover {
    opacity: 0.7;
    cursor: pointer;
}

.img_2-2:hover {
    opacity: 0.7;
    cursor: pointer;
}

.img_2-3:hover {
    opacity: 0.7;
    cursor: pointer;
}

.img_3-1:hover {
    opacity: 0.7;
    cursor: pointer;
}

.img_3-2:hover {
    opacity: 0.7;
    cursor: pointer;
}

.img_3-3:hover {
    opacity: 0.7;
    cursor: pointer;
}