body {
    margin: 0;
}

.text-container {
    max-width: 80%;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Abel', sans-serif;*/

}

/* <--------------- TOP BANNER ------------------> */
#banner-biddle {
    position: relative;
    background-image: url('../../assets/img/personalprojects/midsize/biddle.jpg');

    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin-bottom: 30px;
    padding:0;
}

#banner-freeandforsale {
    position: relative;
    background-image: url('../../assets/img/personalprojects/midsize/freeandforsale.jpg');

    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin-bottom: 30px;
    padding:0;
}

#banner-texteditor {
    position: relative;
    background-image: url('../../assets/img/personalprojects/midsize/texteditor.jpg');

    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin-bottom: 30px;
    padding:0;
}

#banner-bearmaps {
    position: relative;
    background-image: url('../../assets/img/personalprojects/midsize/bearmaps.jpg');

    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin-bottom: 30px;
    padding:0;
}

#banner-database {
    position: relative;
    background-image: url('../../assets/img/personalprojects/midsize/database.jpg');

    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin-bottom: 30px;
    padding:0;
}

#banner-flickr {
    position: relative;
    background-image: url('../../assets/img/personalprojects/midsize/flickr.jpg');

    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin-bottom: 30px;
    padding:0;
}





/* <--------------- LEFT AND RIGHT COLUMNS ------------------> */



.left {
    width: 50%;
    float: left;
    margin-left: 5%;
}


.right {
    margin-left: 55%;
}


/* <--------------- JOB DESCRIPTION BULLETS ------------------> */

ul.job-description {
    padding: 0;
    width: 75%;
    /*display: inline-block;*/
    margin-right: 0px;

}

li.job-bullet {

    display: inline-block;
    text-decoration: none;
    color: #071013;
    font-size: 18px;
    opacity: 1;
}

.job-bullet-box {
    background-color: #DFE0E2;
    opacity: 0.5;
    padding: 10px 5px 10px 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 1%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

}


#project-title {
    font-size: 60px;
    color: #A2AEBB;
}

#project-description {
    color: #A2AEBB;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 25px;
}

#date {
    color: #A2AEBB;
    margin-top: 10px;
    font-size: 20px;

}




/* <--------------- TOOLS ------------------> */
#tools-title {
    padding-top: 70px;
    color: #A2AEBB;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 20px;
}

li.tools-description-bullet {
    display: inline-block;
    text-decoration: none;

}

ul#tools-description {
    padding: 0;
}


.tools-description-bullet-box {
    background-color: #DFE0E2;
    opacity: 0.5;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 1%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    width: 20%;
}










/* <--------------- BUTTON ------------------> */
/* <---------------BUTTON CREDIT: http://codepen.io/sazzad/pen/yNNNJG ------------------> */

a.animated-button {
    width: 30%;
    float: left;
}

a.animated-button:link, a.animated-button:visited {

    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #A2AEBB;
    font-size:14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

}

a.animated-button.victoria-four {

    border: 2px solid #A2AEBB;
    margin: 10px 10px 20px 0;
}
a.animated-button.victoria-four:after {
    background: #A2AEBB;
    opacity: .5;
    -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-four:hover:after {
    opacity: 1;
    height: 600% !important;
}
